* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#main {
    background-color: grey;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-div {
    width: 95%;
    border: 1px solid red;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
}